<html>

<head>
    <link rel="stylesheet" href="/public/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css">
    </link>
    <title>Latihan</title>
</head>

<body>
    <div class="container-fluid py-3" style="background-color: #e6e7e7">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">
                        Hai, Selamat Datang Diwebsite Saya
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <nav class="nav">
                <a class="btn btn-outline-success m-2" href="#">Home</a>
                <a class="btn btn-outline-success m-2" href="#">Tambahkan</a>
                <a class="btn btn-outline-success m-2" href="#">Lihat</a>
            </nav>

            <form class="d-flex m-2" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">
                    Search
                </button>
            </form>
        </div>
    </nav>






    <div class="container-fluid">
        <div class="container">
            <div class="row mt-4">
                <div class="col">
                    <h2>Judul</h2>
                    <h4>penerbit</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi odit autem reprehenderit. Aperiam
                        illum quas repellat repudiandae fugit impedit commodi, nesciunt maiores quis, inventore aliquam
                        soluta in, reprehenderit rerum quo. Fugiat, cumque molestias? Doloremque, ipsam sint atque
                        praesentium laborum consequuntur labore autem maxime adipisci hic! Nihil eos dolorum dolor
                        atque?</p>
                </div>
            </div>
        </div>
    </div>












    <!--     
    <h3>{{ $nama }}</h3>
    <p>{{ $NIM }}</p>
    <p>{{ $kelas }}</p>
    <img src="img/{{ $image }}" alt="{{ $nama }}" width="200"> -->

    <script src="js/script.js"></script>
    <!-- javascript untuk bootstrap -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>